# Auto detect text files and perform LF normalization
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
# This is really important to keep bash scripts functional, because the Bourne shell can't handle CRLF
*.* text eol=lf

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jpg    binary
*.jpeg binary
*.gif binary

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain